h1{
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  color: rgb(10, 87, 10);
}
main{
  margin: 0 5%;
}
.jumbotron, .jumbotron-fluid{
  background-image: url('https://media.giphy.com/media/9J8K8WEWLXZk7s0OMB/giphy.gif');
}

.ex-3 button.b-1, .ex-3 button.b-2{
  background: -moz-linear-gradient(top,  hsl(194, 100%, 50%) 0%, hsl(208, 100%, 50%) 100%);
  background: -webkit-linear-gradient(top,  hsl(194, 100%, 50%) 0%,hsl(208, 100%, 50%) 100%);
  background: linear-gradient(to bottom,  hsl(194, 100%, 50%) 0%,hsl(208, 100%, 50%) 100%);
  margin-right: .25rem;
  padding: 1%;
  /* border-radius: 10%; */
}

.ex-3 button.b-1:hover{
  background: -moz-linear-gradient(top,  hsl(194, 100%, 40%) 0%, hsl(208, 100%, 40%) 100%);
  background: -webkit-linear-gradient(top,  hsl(194, 100%, 40%) 0%,hsl(208, 100%, 40%) 100%);
  background: linear-gradient(to bottom,  hsl(194, 100%, 40%) 0%,hsl(208, 100%, 40%) 100%);
}
.ex-3 button.b-2:hover{
  background: -moz-linear-gradient(top,  hsl(194, 100%, 40%) 0%, hsl(208, 100%, 40%) 100%);
  background: -webkit-linear-gradient(top,  hsl(194, 100%, 40%) 0%,hsl(208, 100%, 40%) 100%);
  background: linear-gradient(to bottom,  hsl(194, 100%, 40%) 0%,hsl(208, 100%, 40%) 100%);
  padding: 1%;
  /* border-radius: 10%; */
}
/* My Specialities */

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 95%;
  height: 200px;
  /* border: 1px solid grey; */
}
.specialities{
border: 1px solid grey;
display: flex;
justify-content: center;
padding: 2%;
}