#header{
  background-color: rgb(75, 74, 74);
  color: white;
  padding:15px 30px;
}
#position{
  margin-top:37px;
  margin-left:32px;
}
#name_position{
  display: flex;
}
p{
  font-family: 'Lato', sans-serif;
}
h1{
  font-size: 2rem;
  margin-bottom:0px;
}
h3{
  margin:10px 0px;
}
h5{
  margin:5px 0px;
  font-family: 'Lato', sans-serif;
}
h6{
  margin: 5px 0px;
  font-family: 'Lato', sans-serif;
}
body{
  margin:0px 130px;
  border:1px solid black;
}
main{
  padding: 5px 30px;
  background:whitesmoke;
}
ul{
  padding:0px;
}
.ex{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.edu{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
