h1 {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
  color: rgb(10, 87, 10);
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  font-size: .75rem;
}

.navbar-brand {
  color: black !important;
}

main {
  margin: 5% 5%;
}

section {
  margin: 5% 5%;
}

/* Skill */

.list {
  margin: 3%;
}

/* footer */

.footer {
  margin: 0;
  padding: 7%;
  background-color: grey;
}

.emifooter {
  color: white;
}

a, .fmenu {
  display: flex;
  justify-content: space-around;
  color: white !important;
  padding: 3%;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

ol {
  padding: 0 !important;
}
.icon{
  height: 5vh;
}
/* Main */

/* img */

@media (max-width:450px) {
  .my-img {
    width: 40vw;
    height: 70hv;
    margin: 3%;
  }
  .section-1 {
    text-align: center;
  }
  
}

@media (min-width:451px) and (max-width:770px) {
  .my-img {
    width: 50vw;
    height: 80hv;
    margin: 3%;
  }
  .section-1 {
    text-align: center;
  }
}

@media (min-width:771px) {
  .my-img {
    width: 30vw;
    height: 60hv;
    margin: 3%;
  }
  .section-1 {
    text-align: center;
  }
  .section-about {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  .about-me {
    margin: 5% 0;
  }
  .section-2 {
    margin: 3%;
  }
}