body {
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
}
p{
  font-family: 'Source Sans Pro', sans-serif;
}
h2 {
  font-size: 1.75rem;
  margin: 3%;
  font-family: 'Shrikhand', cursive;
}
h5{
  font-family: 'Source Sans Pro', sans-serif;
}
.mustacchio{
  width: 12vw;
  height: auto;
}
header {
  background-color: antiquewhite;
  padding: 10px;
}

.navbar, .navbar-expand-lg, .navbar-light, .bg-light {
  background-color: antiquewhite !important;
}

.carousel-caption, .d-none, .d-md-block {
  background-color: rgb(24, 58, 24, 0.8);
}
.footer{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.nav_footer{
  display: grid;
  grid-template-rows: 33% 33% 33%;
}

/* section {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  width:auto;
  margin: 5%;

} */

/* .section_ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

/* .section_img {
  /* border-radius: 50%; */

/* width: 28vw;
  height: 30vh;
} */

@media (max-width: 450px) {
  .section_ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  section {
    display: grid;
    grid-template-columns: 95%;
    width: auto;
    margin: 5%;
  }
  .section_img {
    /* border-radius: 50%; */
    width: 85vw;
    height: 40vh;
    margin: 5% 0%;
  }
  .footer{
    display: grid;
  grid-template-columns: 33% 33% 33%;
}
.nav_footer{
  display: grid;
  grid-template-rows: 33% 33% 33%;
}
}
/*footer*/

.footer {
  background-color: rgb(17, 4, 4);
  color: antiquewhite;
}

@media (min-width: 451px) and (max-width: 768px) {
  .section_ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: auto;
    margin: 1%;
  }
  .section_img {
    /* border-radius: 50%; */
    width: 28vw;
    height: 22vh;
  }
.footer{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.nav_footer{
  display: grid;
  grid-template-rows: 33% 33% 33%;
}
}
@media (min-width: 769px) {
  .section_ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  section {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: auto;
    margin: 5%;
  }
  .section_img {
    /* border-radius: 50%; */
    width: 28vw;
    height: 30vh;
  }
  .footer{
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .nav_footer{
    display: grid;
    grid-template-rows: 33% 33% 33%;
  }
}